*{
  padding : 0px;
  margin : 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'bauhaus-93';
  src: local('bauhaus-93'),url(../fonts/Bauhaus\ 93\ Regular.ttf);
}
@font-face {
  font-family: baumans;
  src: url(../fonts/Baumans-Regular.ttf);
}
.displayText {
  font-family: bauhaus-93;
}
.typeText{
  font-family: baumans;
}