* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "bauhaus-93";
  src: local("bauhaus-93"), url(../fonts/Bauhaus\ 93\ Regular.ttf);
}
@font-face {
  font-family: baumans;
  src: url(../fonts/Baumans-Regular.ttf);
}
.displayText {
  font-family: bauhaus-93;
}

.text {
  font-family: baumans;
  font-weight: 200;
}

.texttwo {
  color: "#42475b";
  font-family: baumans;
}

.aboutusp {
  font-family: baumans;
  font-weight: 200px;
  color: "#42475b";
  font-size: 18px;
}

.box {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.boxtwo {
  border-radius: 100px;
}

.aboutus {
  text-align: center;
  width: 100%;
  height: 940px;
  background-image: url("/City.png");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  font-size: large;
  font-family: baumans;
}

.paper {
  background-color: white;
}

.link {
  list-style: none;
  text-decoration: none;
}

.header-bg {
  background: #e1eef5;
  box-shadow: 1px 10px 12px 0px rgba(0, 0, 0, 0.18);
}

.Nav-bg {
  transition: 0.5s ease-in;
  display: block;
  display: flex;
  margin-left: 20px;
  width: 400px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  font-family: baumans;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.icons {
  list-style: none;
}

/* .grad {
  background-image: radial-gradient(#ff2fe5, #e7d38a, #95bdcd, 0.9);
} */

.dex {
  z-index: 1;
}

.test {
  /* border: 5px white solid !important; */
  /* background-color: red; */
  background-size: 150%;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.leaf {
  transform: rotate(10deg);
  animation: anime 5s infinite alternate;
  transition: 10s;
}

@keyframes anime {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
